*{
    margin: 0%;
    padding: 0%;
}



.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(77.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.form{
    width: 250px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 250px;
    left: 570px;
    border-radius: 10px;
    padding: 25px;
    padding-left: 40px;
    text-align: center;
    margin-top: 3px;
    top: 150px;
    }

    .navbar{
        width: 1400px;
        height: 75;
        margin: auto;
        left: 500px;
    }

    .logo{
        color: #f0f8ff;
        font-size: 35px;
        font-family: Arial;
        padding-left: 20px;
        float: left;
        padding-top: 10px;
        margin-top: 10px;
        }
        
        .logo span{
            color:  #1717df;
            text-decoration: none;
        }
        
        .menu{
            width: 400px;
            float: left;
            height: 70px;
        }
        
        ul{
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:  80px;
        }
        
        ul li{
            list-style: none;
            margin-left: 62px;
            margin-top: 27px;
            font-size: 14px;
        }
        
        ul li a{
            text-decoration: none;
            color: #fff;
            font-family: Arial;
            font-weight: bold;
            transition: 0.4s ease-out;
        }
        
        ul li a:hover{
            color: rgb(0, 0, 255);
        }

        .form h1 {

            width: 220px;
            font-family: sans-serif;
            text-align: center;
            color: #5b5bfa;
            font-size: 22px;
            background-color: #fff;
            border-radius: 10px;
            margin: 2px;
            padding: 8px;
        }

        .form h2{
            color: white;
            text-align: center;
            font-size: medium;
            box-sizing: 1px;
        }
        
        .form input{
            width: 240px;
            height: 35px;
            background: transparent;
            border-bottom: 1px solid #5b5bfa;
            border-top: none;
            border-right: none;
            border-left: none;
            color: #fff;
            font-size: 15px;
            letter-spacing: 1px;
            margin-top: 30px;
            font-family: sans-serif;
        }
        
        .form input:focus{
            outline: none;
        }
        
        ::placeholder{
            color: #fff;
            font-family: Arial;
        }

        .btnn{
            width: 240px;
            height: 40px;
            background: #5b5bfa;
            border:none;
            margin-top: 30px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            color: #fff;
            transition: 0.4s;
        }
        
        .btnn:hover{
            background: #fff;
            color: #5b5bfa;
        }
        
        .btnn a{
            text-decoration: none;
            color:#000;
            font-weight: bold;
        }
        p{
            margin-top: 15px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            padding-top: 20px;
            text-align: center;
            font-weight: bold;
            color: #fff;
        }

        a{
            text-decoration: none;
            color: #5b5bfa;
            font: 1em sans-serif;
            font-weight: bold;
        }

        a:hover{
            color: #fff;
        }